@model ETrade.UI.Models.UsersModel

@*Baseenttiy kolonlar*@
<h1>Register</h1>
<div class="row">
    <div class="col-md-7">
        <form method="post">
            <p>@Model.Error</p>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input asp-for="Users.Mail" required type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Şifre</label>
                <div class="col-sm-10">
                    <input  asp-for="Users.Password"  required type="password" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Ad Soyad/Ünvan</label>
                <div class="col-sm-10">
                    <input asp-for="Users.EntityName" required type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Cadde</label>
                <div class="col-sm-10">
                    <input  asp-for="Users.Avenue" type="text" class="form-control">
                </div>

            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Sokak</label>
                <div class="col-sm-10">
                    <input asp-for="Users.Street" type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">No</label>
                <div class="col-sm-10">
                    <input asp-for="Users.No" type="text" class="form-control">
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">İlçe</label>
                <div class="col-sm-10">
                   
                    <select asp-for="Users.CountyId" class="form-control">
                        @foreach (var item in Model.Counties)
                        {
                            <option value="@item.Id">@item.Description</option>
                        }

                    </select>
                    </div>
                </div>
            <input type="submit"  class="btn btn-outline-success"value="Kaydol" />
</form>
    </div>
</div>


